* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.logo-brand {
  width: 98px;
}

.bg-light {
  background-color: #fff !important;
}

.nav-color__black {
  color: #000 !important;
  padding-left: 1.8rem !important;
}

.bg-black {
  background-image: url('/assets/header/header-bg.jpeg');
  border-radius: 0px !important;
  height: 603px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header-about.bg-black {
  height: 300px;
}

.jumbotron:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  bottom: 0px;
  left: 0px;
}

.section-pattern {
  background-image: url('/assets/icon/VPN_Pattern.png');
  background-repeat: repeat;
  background-position: top center;
}

.section-about {
  padding-top: 60px;
  padding-bottom: 60px;
}



.section-service {
  background-color: #343a40;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.btn-dark {
  color: #343a40;
  background-color: transparent;
}

.choose-us {
  padding-top: 80px;
  padding-bottom: 80px;
}

.our-clients {
  background-color: #343a40;
  padding-top: 50px;
  padding-bottom: 50px;
}

.our-clients-title h2 {
  color: #fff;
  font-weight: 600;
}

.terasaki-logo img {
  width: 128px;
  height: 128px;
}

.teras-senja img {
  width: 128px;
  height: 128px;
}

#back-to-top {
  position:fixed;
    right:40px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#343a40;
    text-indent:-9999px;
    display:none;
    border: 3px solid #f0bc5e;
    border-radius: 3px;
}

#back-to-top img {
  position:fixed;
    right:56px;
    bottom:27px;
    width: 16px;
    height: 16px;
}

.title-about {
  margin-top: 50px !important;
  color: #fff;
  font-weight: 600;
  z-index: 90;
  position: relative;
}

.visi-misi {
  background-color: #343a40;
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-about {
  padding-top: 75px;
  padding-bottom: 75px;
}

.our-team {
  padding-top: 70px;
  padding-bottom: 70px;
}

.our-works {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer {
  background-color: #343a40;
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Dekstop Version */
@media (min-width: 992px) {
  

  .title__white {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    position: relative;
    z-index: 10;
  }

  .logo-circa {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 28px;
    display: block;
    position: relative;
    z-index: 1;
  }

  .section-title__about h2 {
    font-weight: 600;
  }

  .section-about__logo {
    
    max-width:100% ;
    height: auto;
  }

  .about-img {
    padding: 60px;
    margin-top: 39px;
  }

  .about-title {
    margin-top: 60px;
    
  }

  .about-title h2 {
    margin-bottom: 28px;
  }

  .about-title p {
    margin-bottom: 28px;
  }

  .service-title h2 {
    color: #fff;
    font-weight: 600;
  }

  .branding {
    padding: 3rem;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    border: 2px solid #fff;
    margin-top: 55px;
    height: 90%;
  }

  .branding-logo {
    width: 64px ;
    height: 64px;
    margin-bottom: 17px;
  }

  .branding-title {
    color: #fff;
    font-weight: 600;
  }

  .branding-description h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
  }

  .branding-description p {
    color: #fff;
  }

  .choose-container {
    text-align: center;
  }

  .choose-container img {
    width: 128px;
    height: 128px;
  }

  .choose-title h2 {
    margin-bottom: 40px;
    font-weight: 600;
  }

  .choose-container h3 {
    font-weight: 500;
    margin-top: 27px;
    margin-bottom: 30px;
  }

  .terasaki-logo {
    padding-right: 16em;
    margin-top: 45px;
  }
  
  .teras-senja {
    padding-left: 10em;
    margin-top: 45px
  }

  .main-img {
    max-width: 100%;
    height: auto;
    padding: 30px;
  }

  .main-about__description h2{
    font-weight: 600;
    margin-bottom: 34px;
  }

  .section-vision h2, h4 {
    color: #fff;
    font-weight: 600;
  }


  .section-vision h2 {
    margin-bottom: 40px;
  }

  .section-vision p {
    color: #fff;
  }

  .section-mision h4{
    font-weight: 600;
    font-size: 27px;
    margin-top: 20px;
  }

  .section-mision p {
    color: #fff;
  }

  .mision-img {
    max-width: 100%;
    height: auto;
    padding: 60px;
  }

  .title-our-team h2{
    font-weight: 600;
    margin-bottom: 46px;
  }

  .arif h3 {
    font-weight: 500;
    margin-top: 24px;
  }

  .iqbal h3 {
    font-weight: 500;
    margin-top: 24px;
  }

  .footer-address h5 {
    color: #fff;
    font-weight: 600;
  }

  .address-list {
    list-style: none;
  }

  .address-list li span {
    color: #fff;
    font-size: 18px;
  }

  .address-list li span i {
    padding-right: 15px;
  }

  .footer-contact h5 {
    color: #fff;
    font-weight: 600;
  }

  .contacts-list {
    list-style: none;
  }

  .contacts-list li {
    margin-bottom: 18px;
  }

  .contacts-list a {
    text-decoration: none;
    color: #fff;
  }

  .contacts-list li a span {
    font-size: 18px;
  }

  .contacts-list li a span i {
    padding-right: 15px;
  }

  .footer-social {
    color: #fff;
    font-weight: 600;
  }

  .social-list {
    list-style: none;
  }

  .social-list li {
    margin-bottom: 18px;
  }

  .social-list li a {
    text-decoration: none;
    color: #fff;
  }

  .social-list li a span {
    font-size: 18px;
    padding-left: 10px;
  }

  .social-list li a span i {
    padding-right: 15px;
  }

  .footer-center {
    text-align: center;
    margin-top: 100px;
  }

  .footer-center p {
    color: #fff;
    font-size: 15px;
  }

  .footer-center p a {
    text-decoration: none;
    color: #fff;
  }

  .produk-img {
    width: 320px;
    height: auto;
    margin-right: 10px;
  }

  .produk-wrap {
    text-align: center;
    margin: 10px;
  }
}

/* mobile version */
@media (min-width: 320px) and (max-width: 768px) {

  .nav-color__black {
    text-transform: none;
    padding-top: 10px;
    margin-top: 10px;
  }


  .title__white {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    z-index: 10;
  }

  .logo-circa {
    max-width: 100%;
    margin-top: 170px;
    position: relative;
    z-index: 1;
    margin-bottom: 19px;
  }
  
  .section-about__logo {
    
    max-width:100% ;
    height: auto;
    margin-bottom: 30px;
  }

  .section-title__about {
    margin-bottom: 20px;
  }

  .about-img {
    padding: 20px;
  }

  .about-title h2 {
    margin-bottom: 35px;
    font-size: 28px;
  }

  .about-title p {
    font-weight: 200;
    margin-bottom: 40px;
  }
  
  .service-title h2 {
    color: #fff;
  }

  .branding {
    padding: 3rem;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    border: 2px solid #fff;
    margin-top: 55px;
    height: 100%;
  }

  .m-branding__mb {
    margin-bottom: 15px;
  }

  .branding-logo {
    width: 64px ;
    height: 64px;
    margin-bottom: 17px;
  }

  .branding-title {
    color: #fff;
    font-weight: 600;
  }

  .branding-description h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
  }

  .branding-description p {
    color: #fff;
  }

  .choose-container {
    text-align: center;
  }

  .choose-container img {
    width: 128px;
    height: 128px;
  }

  .choose-title h2 {
    margin-bottom: 40px;
    font-weight: 600;
  }

  .choose-container h3 {
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .choose-container ol {
    padding-left: 50px;
    padding-right: 50px;
}

  .terasaki-logo {
    margin-top: 45px;
  }

  .teras-senja {
    margin-top: 45px
  }

  .main-img {
    max-width: 100%;
    height: auto;
    padding: 50px;
  }

  .main-about__description h2{
    font-weight: 600;
    margin-bottom: 17px;
    font-size: 27px;
  }

  .section-vision h2, h4 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 27px;
  }

  .section-vision p {
    color: #fff;
  }

  .section-mision h4{
    font-weight: 600;
    font-size: 27px;
    margin-top: 20px;
  }

  .section-mision p {
    color: #fff;
  }

  .mision-img {
    max-width: 100%;
    height: auto;
    padding: 68px;
  }

  .title-our-team h2{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 23px;
  }

  .arif h3 {
    font-weight: 500;
    margin-top: 17px;
  }

  .iqbal h3 {
    font-weight: 500;
    margin-top: 17px;
  }

  .arif img {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
  }

  .iqbal img {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
  }

  .our-works-title h2 {
    margin-bottom: 18px;
  }

  .produk-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .footer-address h5 {
    color: #fff;
    font-weight: 600;
  }

  .address-list {
    list-style: none;
  }

  .address-list li span {
    color: #fff;
    font-size: 18px;
  }

  .address-list li span i {
    padding-right: 15px;
  }

  .footer-contact h5 {
    color: #fff;
    font-weight: 600;
  }

  .contacts-list {
    list-style: none;
  }

  .contacts-list li {
    margin-bottom: 18px;
  }

  .contacts-list a {
    text-decoration: none;
    color: #fff;
  }

  .contacts-list li a span {
    font-size: 18px;
  }

  .contacts-list li a span i {
    padding-right: 15px;
  }

  .footer-social {
    color: #fff;
    font-weight: 600;
  }

  .social-list {
    list-style: none;
  }

  .social-list li {
    margin-bottom: 18px;
  }

  .social-list li a {
    text-decoration: none;
    color: #fff;
  }

  .social-list li a span {
    font-size: 18px;
  }

  .social-list li a span i {
    padding-right: 15px;
  }

  .footer-center {
    text-align: center;
    margin-top: 60px;
  }

  .footer-center p {
    color: #fff;
    font-size: 12px;
  }

  .footer-center p a {
    text-decoration: none;
    color: #fff;
  }

  .to-center {
    text-align: left;
  }

  #back-to-top {
    width: 40px;
    height: 40px;
    right: 14px;
  }

  #back-to-top img {
    right: 26px;
    bottom: 23px;
  }
  
}